<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>万事本</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>MyNoteBook</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wxmynotebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx5c5861b900480cef</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qqmynotebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41E1CE3F</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>wbmynotebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb647948000</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>today</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>MyNoteBookWidget</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>mynotebook</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>timapiV1</string>
		<string>wtlogintimV1</string>
		<string>timopensdkdataline</string>
		<string>timgamebindinggroup</string>
		<string>timopensdkapiV4</string>
		<string>wtlogintim</string>
		<string>timopensdkgrouptribeshare</string>
		<string>timOpensdkSSoLogin</string>
		<string>timapiwallet</string>
		<string>timgamebindinggroup</string>
		<string>timopensdkfriend</string>
		<string>tim</string>
		<string>timwpa</string>
		<string>tencentapi.qzone.reqContent</string>
		<string>tencentapi.qq.reqContent</string>
		<string>mqqopensdkgrouptribeshare</string>
		<string>mqqgamebindinggroup</string>
		<string>mqqopensdkdataline</string>
		<string>mqqopensdkfriend</string>
		<string>mqqapiwallet</string>
		<string>mqzoneopensdkapiV2</string>
		<string>mqzoneopensdkapi19</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneopensdk</string>
		<string>mqzone</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV4</string>
		<string>mttbrowser</string>
		<string>mqqbrowser</string>
		<string>mqqwpa</string>
		<string>timapi</string>
		<string>mqqapi</string>
		<string>mqq</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>weibosdk2.5</string>
		<string>weibosdk</string>
		<string>sinaweibohdsso</string>
		<string>sinaweibosso</string>
		<string>sinaweibohd</string>
		<string>sinaweibo</string>
		<string>weixin</string>
		<string>wechat</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MOBAppKey</key>
	<string>1275ebaece310</string>
	<key>MOBAppSecret</key>
	<string>2fb608ebba2a573bf7bd63c9ffe82422</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>分享微博需要获取您的相册权限</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.riberwang.mynotebook.main</string>
		<string>com.appcoda.handoffdemo.edit-contact</string>
		<string>com.appcoda.handoffdemo.view-contact</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
</dict>
</plist>
